<footer id="footer">
  
  <div class="outer footer_center">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      彼此当年少，莫负好时光
  </br>
    </div>
  </div>
</footer>
